h3{
    color: rgb(255, 0, 0);
}
.button{
    border-radius: 15px;
    border: none;
    padding: 7px 7px;
    background-color: rgb(190, 189, 189);
}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar ul{
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;

}
main{
    display: grid;
    text-align: center;
}