h5{
    color: red;
    display: block;
    margin-top: 15px;
}
#grid1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9vh;
    background-color: rgb(207, 207, 207);
    border-radius: 15px;
    padding: 10px 10px;
}
.navbar a{
    text-decoration: none;
    color:black;
    margin: 5px;
    border-radius: 10px;
    background-color: grey;
    padding: 5px;
}
.navbar a.active{
    background-color: rgb(22, 22, 22);
    color: rgb(218, 218, 218);
}
.navbar{
    display: flex;
}
#grid2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    background-color: rgb(160, 160, 160);
    border-radius: 15px;
}
#grid3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh;
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px , 1fr));
    grid-auto-rows: 300px;
    gap: 2em;
    padding: 5px 5px;
}
.box{
    background-color: rgb(66, 59, 59);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
video{
    border-radius: 10px;
}