h4{
    color: red;
}
.navbar{
    display: flex;
}
.navbar a{
    text-decoration: none;
    color: black;
    background-color: grey;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}
.nav{
    margin: 5px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    grid-auto-rows: 300px;
    gap: 2em;
    justify-content: center;
}
.box{
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.navbar a.active{
    background-color: rgb(46, 45, 45);
}
video{
    border-radius: 10px;
}